<form action='/add_bookmark' method= 'post'>
  <input type='text' name='new_bookmark'>
  <input type='text' name='new_title'>
  <input type='submit' value="New bookmark">
</form>

<form action='/bookmarks'>
  <input type='submit' id='show_bookmarks' value='Show Bookmarks'>
</form>
